<script src="/socket.io/socket.io.js"></script>
<script src="jquery.min.js"></script>

<script>
    var socket = io.connect('<%= protocol %>://localhost:<%= port %>', {secure: <%= secure %>});
    socket.on('news', function (data) {
        console.log(data);
        addData(data.text);
        socket.emit('1 event', { my: 'data' });
    });
    
    function addData(text) {
        $('body').append($('<span>' + text + '</span>'));
    }
</script>